<div class="container">
  <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
          <div class="border-box">
              <h2>Başlık 1</h2>
              <p>Açıklama 1...</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
          <div class="border-box">
              <h2>Başlık 2</h2>
              <p>Açıklama 2...</p>
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12" *ngFor="let box of innerBoxesForTitle2">
                  <div class="card">
                      <div class="card-header">
                          <div class="icon-x">X</div>
                      </div>
                      <div class="card-body text-center">
                          <div class="icon-normal">&#9733;</div>
                          <div class="title">{{ box }}</div>
                      </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
          <div class="border-box">
              <h2>Başlık 3</h2>
              <p>Açıklama 3...</p>
          </div>
      </div>
  </div>
</div>
